body{
    margin:0px;
    border:0px;
    padding: 0px;
}
.header h1{
    color: aliceblue;
       font-family: "Amarante", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin: 0px;
  padding: 0px;
  position: fixed;
  top: -5px;
  left: 20px;
}
.header i{
    color: aliceblue;
    float: right;
    position: fixed;
    top:15px;
    right: 20px;
    font-size: 40px;
}
.header{
    display: flex;
    margin: 0px;
    border:0px;
    width:100%;
    height:70px;
    background-color: rgba(61,7,95,255);
    position: sticky;
    top:0px; 
    z-index: 10;  
}
.page1{
    background-color: rgba(61,7,95,255) ;
    display: flex;
    justify-content: center;
    align-items: center;
    height:530px;
    color: aliceblue;
}
.page1 img{
    width:400px;
    height:400px;
    float:right;
    margin-left: 200px;
}
.content{
    width: 400px;
    text-align: left;
    align-items: center;
}
 button{
    background-color: rgba(41,183,221,255);
    border: 0px;
    color: aliceblue;
    border-radius: 50px;
    width: 150px;
    height: 40px;
    font-size: 15px;
    font-weight: lighter;
}

.content b{
    font-size:25px;
    font-weight:bold;
}
.page2 {
    justify-content: center;
    text-align: center;
    height:650px
}
.page2 b{
   font-size: 20px;
}
.combine {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

 .box{
    display: flex;
    width: 520px;
    height:520px;
     flex-wrap: wrap;
      gap: 20px;
       align-content: flex-start;
} 
.box1, .box2 , .box3 , .box4 {
    width:240px; 
   height: 240px;
   justify-content: center;
   align-items: center;
   color: aliceblue;
   font-size: x-large;
}
.box i{
    margin-top: 80px;
    font-size: 40px;
}
.box1{
    background-color:rgba(41,183,221,255);
}
.box2{
    background-color:rgba(139,115,239,255);
}
.box3{
    background-color:rgba(93,59,231,255);
}
.box4{
    background-color: rgba(189,115,240,255);
}
.data h1{
    font-size: 50px;
}
.page3{
    width:100%;
    height:100svh;
     justify-content: center;
    align-items: center;
    background-color:rgba(61,7,95,255) ;
    color: aliceblue;
    display: flex;
}
.data2{
    width:250px;
    padding-left: 100px;
    margin-top: 70px;
}
.data2 h5{
    font-size: 20px;
    margin-bottom: 20px;
}
.data2 p{
    padding-left: 20px;
}
.page4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
}
.solution1{
    width: 250px;
}
.solution1 h1{
    font-size: 40px;
    color: rgba(41,183,221,255);
}
.ci{
     width: 70px;
     height: 70px;
     background-color:rgba(41,183,221,255);
     border-radius: 50%;
     margin-top: 20%;
     margin-left: 30%;
}
.page5{
    height: 130svh;
    width: 100%;
    background-color:rgba(61,7,95,255) ;
    position: relative;
}
.striped-box {
  width: 600px;
  height: 115svh;
  background: repeating-linear-gradient(
    45deg,              
  #5d3be7 0px,
  #5d3be7 5px,
    rgba(61,7,95,255) 3px,
    rgba(61,7,95,255) 15px
  );
  position: absolute;
  top:50px;
  left: 400px;
}
.page5 img{
    position: absolute;
    top: 80px;
    left: 200px;
}
.dev p{
    font-size:large;
    text-align: center;
}
.dev{
    display: flex;
    flex-wrap: wrap;
     width: 420px;
    height: 420px;
    gap: 20px;
    align-content: flex-start;
    margin: auto;
    position: absolute;
    top: 300px;
    right: 100px;
}
.dev1,.dev2,.dev3 , .dev4{
    width: 180px;
    height: 180px;
    background-color: aliceblue;
}
.page6{
    width: 100%;
    height: 150svh;
    background:rgba(61,7,95,255);
    position: relative;
}
.striped {
  width: 400px;
  height: 550px;
  background: repeating-linear-gradient(
    45deg,              
  #5d3be7 0px,
  #5d3be7 5px,
    rgba(61,7,95,255) 3px,
    rgba(61,7,95,255) 15px
  );
  position: absolute;
  bottom: 30px;
  left: 130px;
}
.page6 img{
    position: absolute;
    top: 50px;
    left:230px;
}
.blank{
    width:750px;
    height:470px;
    background-color: rgb(108, 38, 238);
    position: absolute;
    top: 70px;
    left: 280px;
}
.any{
    width: 350px;
    height: 350px;
    position: absolute;
    background-color: aliceblue;
    bottom:100px ;
    left: 90px;
    padding: 50px;

}
.any h1{
    text-align: center;
    color:rgba(61,7,95,255) ;
}
.any p{
    margin-top: 20px;
    margin-bottom: 50px;
}

.page7{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}
.inv1{
    width: 400px;
    height: 230px;
}
.inv2{
    width: 600px;
}
.line{
    width: 100px;
    height: 5px;
    background-color:rgba(41,183,221,255) ;
}
.final{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 100%;
    color: aliceblue;
    background-color:rgba(61,7,95,255);
    height: 500px;
}
.d{
  width:800px;
  height:200px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin:30px
}
.d1,.d2,.d3{
    width:250px;
    height: 200px;
    background-color: aliceblue;
}
h4,h5{
    font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:800 ;
  font-style:normal;
}

 h,h1 {
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:800 ;
  font-style:normal;
}
p{
   font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:300 ;
  font-style: normal; 
  line-height: 1.5;
}
.contact-card {
  text-align: center;
  color: #555;
  font-family: Arial, sans-serif;
  padding: 10px;
}

.icon-circle {
  width: 60px;
  height: 60px;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.icon-circle i {
  font-size: 20px;
  color: #999;
}

.label {
  font-weight: bold;
  color: #999;
  font-size: 16px;
  margin: 5px 0;
}

.address {
  color: #333;
  font-size: 14px;
  line-height: 1.4;
}
@media (max-width: 1024px) {
  .header h1 {
    font-size: 24px;
  }

  .page1, .page2, .page3, .page4, .page5, .page6, .page7, .final {
    flex-direction: column;
  }

  .content, .data, .data2, .solution1, .any {
    max-width: 90%;
  }
}

