body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background-color: #222;
  border-radius: 10px;
  padding: 20px;
  width: 260px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.display {
  background-color: #000;
  color: #0f0;
  font-size: 2em;
  padding: 15px;
  text-align: right;
  border-radius: 5px;
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  background-color:white;
  color: black;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background-color: rgb(198, 185, 185);
}

.operator {
  background-color:crimson;
}

.operator:hover {
  background-color: red;
}

.equal {
  background-color:lawngreen;
}

.equal:hover {
  background-color: #28a745;
}
