.parent{
    
    width: 100%;
    height: 300px;
    background-color:lightyellow;
    margin-top: 100px;
    position: relative;
    border: 1px solid black;
    z-index: 2;
}
.child2{
    width: 30%;
    height: inherit;
    background-color:pink;
    position: absolute;
    z-index: 1;
    right: 0px;
}