body {
  margin: 0;
  padding: 0;
  background-color: gainsboro;
  font-family: Arial, sans-serif;
}


.navbar {
  display: flex;

  align-items: center;
  height: 80px;
  background-color: white;
  padding: 0 40px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;

  z-index: 100;
  gap: 70px;
}

.nav-left .logo {
  line-height: 1.2;
}

.flipkart {
  color: #2874f0;
  font-size: 24px;
  font-weight: bold;
 
}

.explore {
  font-size: 12px;
  color: gray;
}

.plus {
  color: #f7b500;
  font-weight: bold;
}

.search-box {
  width: 750px;
  height: 40px;
  padding: 0 15px;
  border-radius: 4px;
  border: none;
  box-shadow: inset 0 0 0 1px #ccc;
  font-size: 15px;
  background-color:lavender;
}

.nav-right {
  display: flex;
  gap: 70px;
}

.nav-right a {
  text-decoration: none;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-right a:hover {
  color: #2874f0;
}


.parent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px;
}

.card {
  background-color: white;
  width: 450px;
  height: 550px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  justify-content: ;
}

.banner {
  width: 450px;
  height: 550px;
  background-color: #fdf8f3;
  padding: 30px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;


}
.title {
  font-size: 20px;
  padding: 20px;
  font-weight: bold;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 10px;
  gap: 10px;
}

.child {
  background: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  height: 200px;
}

.txt {
  font-size: 16px;
  color: green;
  margin-top: 8px;
}




.banner h2 {
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
}

.banner p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.banner button {
  background-color: #2e2e2e;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
}

.banner-img {
  width: 100%;
  height: 70%;
  margin-top: 20px;
  object-fit: cover;
}
