 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body, html {
      width: 100%;
      height: 100%;
      overflow-x: hidden;
    }

    .navbar {
      background-color: #fff;
      width: 100vw;
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 40px;
      position: sticky;
      top: 0;
      z-index: 2;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .logo {
      height: 70px;
      width: 200px;
    }

    .navbar section {
      display: flex;
      align-items: center;
      gap: 30px;
      position: absolute;
      left: 270px;
    }

    .items {
      font-size: 16px;
      font-weight: 600;
      text-decoration: none;
      color: black;
      padding: 10px;
    }

    .logout {
      border-radius: 5px;
      background-color: green;
      padding: 10px 20px;
      color: white;
      font-size: 16px;
      border: none;
      cursor: pointer;
      position: relative;
      left: 540px;
    }

    .banner {
      background-image: url("https://maya.technicalhub.io/assets/images/banner-title.png");
      background-repeat: no-repeat;
      background-size: 592.5px 530px;
      height: 600px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background-color: aliceblue;
    }

    .bannerright {
      background-image: url("https://maya.technicalhub.io/assets/images/banner/thub-girl-1.png");
      background-repeat: no-repeat;
      background-size: 625.5px 604.16px;
      background-position: right;
      width: 100%;
      height: 100%;
      position: relative;
    }

    .tech {
      width: 365px;
      height: 120px;
      background-color: white;
      position: absolute;
      right: 250px;
      top: 350px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .tech img {
      width: 60%;
      height: auto;
    }
    .green{
        background-image: linear-gradient(to right,green,yellowgreen);
        width: 100%;
        height: 140px;
    }