.card-parent{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}


.card{
    width: 320px;
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding-top: 20px;
    gap: 20px;
}
.image-section{
    width: 90%;
    height: 300px;
    border: 1px solid black; 
}
.image-section img{
    width: 100%;
    height: 100%;
}
.info-section{
    width: 90%;
    height: 100px;
    font-family: inherit;
    font-size: 20px;
    text-align: center;
    
}
.price{
    height: 40px;
    
}
.brand{
    height: 40px;
}