.clock{
    width: 150px;
    height:100px;
    background-color: rgb(0, 0, 0);
     /* border: 1px solid black; */
     font-size: 50px;
     font-family: 'Times New Roman', Times, serif;
     text-align: center;
     justify-content: center;
     padding-top:30px;
    
}
.clock-parent{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
    align-items: center;
    height: 80svh;
    color:whitesmoke;
    
}
