/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
/* .myimage{
  width: 500px;
  height: 500px;
} */

*{  margin:0px;
    gap:10px;
}
.Head{
    height:70px;
    display: flex;
    background-color:rgb(3, 217, 255);
    font-size: large;
    justify-content: space-evenly;
    align-items: center;
    
}
.forms{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.forming{
    margin-top: 30px;
    width:300px;
    border:px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px rgb(132, 131, 131);
    background: rgb(211, 211, 211);
    display:flex;
    color:black;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding:20px;
}

.Add,.View{
    width:90px;
    font-weight: bold;
    background-color:black;
    color:white;
    border:2px solid white;
    border-radius: 30%;
}