.card-body{
    width: 300px;
    
    border-radius: 5px;
    border: 2px solid black;
    background-color: aliceblue;
    color: black;
}
.user-icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border:2px solid black;
    position: relative;
    top:25px;
    display: flex;
    left: 90px;
}
.heading{
    margin-top: 40px;
    font-size: 20px;
}
.para{
    color:grey;
}
.jerry{
    width: 80%;
    height: 80%;
    margin-left: 10px;
    margin-top: 8px;
}