body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gainsboro;
    height: 100svh;
    overflow-x: hidden;
}
.navbar{
    width: 100%;
    height: 120px;
    background-color:white;
    box-shadow:0px 10px 5px ghostwhite;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;
    position: sticky;
    top:0px;

}
.logo{
    display: flex;
    text-align: center;
    position: relative;
    margin-left: 70px;
    gap: 70px;
   
}
.right{
   display: flex;
   gap: 50px;
   right: 50px;
   position: absolute; 
}
.text{
    text-align: center;
    margin-top: 50px;
    
}
h1{
    font-size: 40px;
}
.text p{
    margin-bottom: 50px;
    color: gray;
}
.hero{
  width: 100%;
  height:600px;
  background-color: white;
  position: relative;
  top: 5px;
 
}
.hero img{
    display: flex;
    position: absolute;
    width:50% ;
    height: 90%;
   bottom: 0px;
   right: 0px;
    
}
.project{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    
}
.c{
    width: 450px;
    height: 500px;
    background-color: beige;
    position: relative;
    border-radius: 10px;
    display: block;
    
   
}
.developer{
    width: 50%;
    height: 100%;
    position: relative;
    left: 0px;
   
}
.dev{
  
    font-size: 50px;
    font-weight: bold;
    position: relative;
    display: flex;
   
     align-items: center;
    left: 100px;
    top: 150px;
}
.color{
    color: gold;
}

.abc{
    margin-top: 220px;
    margin-left: 100px;
    color: gray;
    letter-spacing: 1px;
}
.img2{
    width: 100%;
}
.ptxt{
   
    left: 30px;
    position: relative;
    color: grey;

}
.ptx{
   font-size: 18px;
   font-weight: bolder;
    left: 30px;
    position: relative;
}
.button{
    display: flex;
    font-size: 14px;
    text-align: center;
    align-items: center;
    padding: 8px 15px;
    width:max-content;
    height: 18px;
    border-radius: 20px;
    background-color: gainsboro;
   position: relative;
}
.btn{
    display:flex;
    margin-left: 15px;
    gap: 15px;
    margin-top: 10px;
    position: absolute;
}